header{
  position: relative;
  background: rgb(2, 2, 26);
  padding: 0;
  border-bottom: 1px solid #e72929;
}

header::before {
 content: '';
 position: fixed;
 height: 200px;
 width: 200px;
 background: rgb(0, 255, 255);
 filter: blur(140px);
}

header::after {
 content: '';
 position: fixed;
 top: 200px;
 left: 250px;
 height: 200px;
 width: 200px;
 background: rgb(183, 0, 255);
 filter: blur(140px);
}

.bg-circle1 {
 position: fixed;
 top: 0px;
 right: 0px;
 height: 200px;
 width: 200px;
 background: rgb(0, 255, 255);
 filter: blur(140px);
}

.bg-circle2 {
 position: fixed;
 top: 100px;
 right: 250px;
 height: 200px;
 width: 200px;
 background: rgb(183, 0, 255);
 filter: blur(150px);
}

a{
  color: #af1313;
}

a:hover{
  background:#e72929;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  padding: 1rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

a span{
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
