/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
  z-index: 1;
}

html{
  font-size:16px;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 0;
  /* background: rgb(2, 2, 26); */

}

body::before {
 content: '';
 position: fixed;
 height: 200px;
 width: 200px;
 background: rgb(0, 255, 255);
 filter: blur(140px);
}

body::after {
 content: '';
 position: fixed;
 top: 200px;
 left: 250px;
 height: 200px;
 width: 200px;
 background: rgb(183, 0, 255);
 filter: blur(140px);
}

.bg-circle1 {
 position: fixed;
 top: 0px;
 right: 0px;
 height: 200px;
 width: 200px;
 background: rgb(0, 255, 255);
 filter: blur(140px);
}

.bg-circle2 {
 position: fixed;
 top: 100px;
 right: 250px;
 height: 200px;
 width: 200px;
 background: rgb(183, 0, 255);
 filter: blur(150px);
}

a{
  text-decoration: none;
}
